.btn-primary {
    color: white;
    width: 200px;
    height: 45px;
    background-color: cadetblue;
}
.btn-register {
    color: white;
    width: 200px;
    height: 45px;
    background-color: gray;
}
.btn-contacto {
    color: gray;
    width: 200px;
    height: 45px;
    background-color: black;
}
